:root {
  /* neutrals */
  --color-neutral-900: '#252F3D';
  --color-neutral-600: '#7C899C';
  --color-neutral-500: '#8FA3BF';
  --color-neutral-300: '#DAE4F2';
  --color-neutral-200: '#E6EDF7';
  --color-neutral-100: '#F5F9FF';
  --color-white: '#FFFFFF';

  /* brand */
  --color-brand-default: 'linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%)';
  --color-brand-hover: 'linear-gradient(102.47deg, #1667D9 -5.34%, #F279F2 106.58%)';
  --color-brand-light-200: '#E5F0FF';
  --color-brand-light-400: '#CCE1FF';

  /* greens */
  --color-green: '#29CC74';
  --color-green-light: '#CCFFE3';

  /* reds */
  --color-red: '#E07F4F';
  --color-red-light: '#FFDFD9';

  /* specials */
  --color-bg-gradient: 'linear-gradient(102.47deg, #7296EB -5.34%, #EAC0E9 106.58%, #EAC0E9 106.58%)';
  --color-bg-grandient-light: 'linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%)';

}
